<div class="admin_index">
<div><h1>ようこそ  <%= current_user.name %>  様</h1></div>

<div>
現在の時刻は、 <%= Time.zone.now.strftime("%Y-%m-%d %H:%M:%S") %> です。</div>
注文総数 <%= @total_orders %> 件
<div><%= link_to "注文ページ", orders_path %></div>

<div class="admin_count">
	<div class="admin_index_count" >商品数：<%= @total_products %> コ</div>

	<div class="admin_index_count" >カテゴリー数：<%= @total_categories %> 種</div>

	<div class="admin_index_count" >ユーザー数：<%= @total_users %> 人</div>
</div>

<div class="admin_link">
<%= link_to "商品ページ", "/admin/products" %>

<%= link_to "カテゴリーページ", "/admin/categories" %>

<%= link_to "ユーザーページ", "/admin/users" %>
</div>
</div>
