





<div><h1>【<%= @category.c_name %>】一覧</h1></div>
<% breadcrumb :categories, @category %>
<div>商品数：<%= @c_show.count %>  コ</div>

<div class="center_box">
<% @c_show.each do |category| %>
<table class="store_table" border="0" cellspacing="0" cellpadding="2" align="center">	
	<tbody>
		<tr align="center" valign="top">
			<td style="width: 146px">
				
			<div class="store_img_box">
			<figure class="snip1437">

				<div class="store_img">
					<% if category.image_url.empty? %>
					<%= image_tag("no_image.jpg", :size => "165x165" ) %>

					<% else %>
					<%= image_tag(category.image_url, :size => "165x165" ) %>
					<% end %>
				</div>
			  <figcaption>
			    <ul class="links">
			      <li><%= link_to '商品詳細', category %></li>
			    </ul>
			  </figcaption>
			</figure>
			</div>
				<div class="store_underbox">
					<div class="store_p_title"><%= category.title %></div>			
				</div>
				<div class="store_price">
					<%= number_to_currency(category.price, :locale => 'jp') %>
				</div>
				<div class="store_cart_in store_button">
					<%#= button_to 'カートに入れる', line_items_path(product_id: product), remote: true %>
					<%= link_to image_tag('cart_in.png', :size => "83x30"), line_items_path(product_id: category), remote: true ,method: :post %>

					<%#= link_to line_items_path(product_id: product, remote: true) do %>
					<%#= link_to line_items_path(product_id: product, remote: true) do %>
					<%#= image_tag('cart_in.png', :size => "85x30")%>
					<%# end %>
				</div>
				<div class="store_button">
					<% unless session[:user_id].nil? %>
					<% if category.favorited_by? current_user %>
			              <%= link_to image_tag('no_fav.png', :size => "83x30"), product_favorites_path(category), method: :delete %>
			        <% else %>
			              <%= link_to image_tag('add_fav.png', :size => "83x30"), product_favorites_path(category), method: :post %>
			        <% end %>
			        <% end %>
				</div>
				
			</td>
		</tr>

	</tbody>
</table>
<% end %>
</div>

<div><%= will_paginate(@c_show, :previous_label => '←前', :next_label => '次→') %></div>


<%#= link_to 'Edit', edit_product_path(@product) %> 
<%#= link_to 'Back', categories_path %>